<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools" package="com.devhouse.videorecorder">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="VideoRecorder" android:requestLegacyExternalStorage="true" android:theme="@style/MainTheme">
		<service android:name="com.hbisoft.hbrecorder.ScreenRecordService" android:foregroundServiceType="mediaProjection" tools:targetApi="q" />
		<receiver android:name="com.hbisoft.hbrecorder.NotificationReceiver" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>